HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

.DS_Store

develop/couchbase-cert/servercertfiles/ca.key
develop/couchbase-cert/servercertfiles/ca.pem
develop/couchbase-cert/servercertfiles/ca.srl
develop/couchbase-cert/servercertfiles/clientcertfiles/.srl
develop/couchbase-cert/servercertfiles/clientcertfiles/data.csr
develop/couchbase-cert/servercertfiles/clientcertfiles/data.key
develop/couchbase-cert/servercertfiles/clientcertfiles/data.pem
develop/couchbase-cert/servercertfiles/javaclient/.srl
develop/couchbase-cert/servercertfiles/javaclient/clientcert.pem
develop/couchbase-cert/servercertfiles/javaclient/my.csr
develop/couchbase-cert/servercertfiles/javaclient/my.keystore
develop/couchbase-cert/servercertfiles/private/pkey.key
develop/couchbase-cert/servercertfiles/public/chain.pem
develop/couchbase-cert/servercertfiles/requests/couchbase.default.svc.csr
